@font-face {
  font-family: "Gill Sans MT2";
  src: url("/fonts/GIL_____.TTF");
  font-weight: 400;
}

@font-face {
  font-family: "Gill Sans MT2";
  src: url("/fonts/GILB____.TTF");
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to top, #1c0e57 31%, #130a4e 55%, #020222 100%);
  box-sizing: border-box;
  font-family: "Gill Sans MT2", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

* {
  font-family: "Gill Sans MT2";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
